<!-- component -->
<nav class=" w-full flex relative justify-between items-center mx-auto px-8 h-14 shadow ">
    <!-- logo -->
    <a class="text-2xl font-bold font-heading" href="/clients/dashboard">
        <img class="h-9" src="/img/logo.png" alt="logo">
    </a>
    <!-- end logo -->

    <a href="/clients/dashboard">Ir al dashboard</a>

    <!-- logout -->
    <div class="flex-initial"> 
      <div class="flex justify-end items-center relative">
        <div class="grid grid-cols-2">
            <div class="flex justify-center items-center">
                {{#if user}}
                    <p>{{user.name}}</p>
                {{/if}}
            </div>
            <div class="flex justify-end items-center">
                <a class="text-2xl font-bold font-heading" href="/signout">
                    <img class="h-8" src="/img/logout.png" alt="logo">
                </a>
            </div>
        </div>
      </div>
    </div>
    <!-- end logout -->
</nav>




<div class="flex items-center justify-center px-6 my-8">
	<!-- Row -->
	<div class="w-full xl:w-3/4 lg:w-11/12 flex">
		<!-- Col -->
		
		<div class="w-full h-auto bg-purple-500 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg " >
		
			<div class="mx-15 mt-20 ">
				<label class="block mb-3 p-2 text-sm  text-center text-white">
					id: {{client.id}}
				</label>

				<label class="block mb-3 p-2 text-2xl  text-center font-bold text-white">
					{{client.name}}
				</label>

				<div class="flex items-center justify-center">
					<img class="img-fluid lg:w-3/5 flex rounded-xl content-center" src="{{client.profilePic}}" >
				</div>
				
			</div>

		</div>
		<!-- Col -->
		<div class="w-full lg:w-7/12 bg-white p-1 rounded-lg lg:rounded-l-none">
			<h3 class="pt-2 text-2xl text-center">CLIENTE</h3>
			<form class="px-8 pt-1 pb-2 mb-2 bg-white rounded">

				<div class="mb-3">
					<label class="block mb-0 text-sm font-bold text-gray-700" for="facebook">
						Facebook
					</label>
					<p class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
						id="facebook">
						{{client.facebookId}}
					</p>	
				</div>

				<div class="mb-3">
					<label class="block mb-0 text-sm font-bold text-gray-700" for="email">
						Email
					</label>
					<p class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
						id="email">
						{{client.email}}
					</p>
				</div>

				<div class="mb-3">
					<label class="block mb-0 text-sm font-bold text-gray-700" for="celular">
						Celular
					</label>
					<p class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
						id="celular">
						{{client.phone}}
					</p>
				</div>

				<div class="mb-3">
					<label class="block mb-0 text-sm font-bold text-gray-700" for="nVeces">
						Cantidad de pedidos
					</label>
					<p class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
						id="nVeces">
						{{client.numOrders}}
					</p>
				</div>

				<div class="mb-3">
					<label class="block mb-0 text-sm font-bold text-gray-700" for="fecha">
						Último pedido
					</label>
					<p class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
						id="fecha">
						{{timeago client.lastOrderDate}}
					</p>
				</div>



{{#if client.lastOrder}}

				<div class="mb-0">
					<label class="block mb-0 text-sm font-bold text-gray-700" for="pedido">
						Detalle del ultimo pedido
					</label>
					<div class="flex flex-col rounded-xl border-gray-300 hover:border-gray-500 overflow-hidden shadow-xl min-wv-3 max-wv-3 min-hv-3 max-hv-3 border-1" id="pedido">	
						<div class="flex flex-col bg-whiteflex-grow bg-white">
							<div class="min-hv-4 overflow-y-auto flex-grow p-1 " style="max-height:calc(22vh - 56px)">
								<!--for each-->
								{{#each client.details}}
									<div class="flex-1 min-w-0 m-2 border-b border-gray-200">
										<p class="text-sm font-medium text-gray-900 truncate dark:text-black">
											{{product.name}}, U: {{cant}}, P: {{product.price}}, ST: {{multiply cant product.price}}
										</p>
									</div>
								{{/each}}


{{else}}
    <div class="mb-3">
		<label class="block mb-0 text-sm font-bold text-gray-700" for="detalle">
			Detalle del ultimo pedido
		</label>
		<p class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
			id="detalle">
			Sin pedidos hasta ahora
		</p>
	</div>
    
{{/if}}
													
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

</div>