<div class="container p-4 my-5 whitebox">
    <h1>Aqui van el ver Contactado</h1>

</div>
<div class="container ">
    <h3>Info</h3>
    <br>
    <p><b>id:</b> {{client.id}}</p>
    <p><b>name:</b> {{client.name}}</p>
    <p><b>profilePic:</b> {{client.profilePic}}</p>
    <p><b>facebookId:</b> {{client.facebookId}}</p>
    <p><b>email:</b> {{client.email}}</p>
    <p><b>phone:</b> {{client.phone}}</p>
    <p><b>Veces Contactado:</b> {{client.contacts}}</p>
    <p><b>ultimo contact:</b> {{timeago client.lastContacted}}</p>
    <p><b>Observaciones:</b> {{client.notes}}</p>
</div>