<div class="container p-4 my-5 whitebox">
    <h1>Aqui van el ver prospecto</h1>

</div>
<div class="container ">
    <h3>Info</h3>
    <br>
    <p><b>id:</b> {{client.id}}</p>
    <p><b>name:</b> {{client.name}}</p>
    <p><b>profilePic:</b> {{client.profilePic}}</p>
    <p><b>facebookId:</b> {{client.facebookId}}</p>
    <p><b>email:</b> {{client.email}}</p>
    <p><b>phone:</b> {{client.phone}}</p>
    <p><b>visits:</b> {{client.visits}}</p>
    <p><b>lastVisist:</b> {{timeago client.lastVisit}}</p>
</div>